page-stats {
  @import '../../theme/variables';

  .box {
    padding: 2rem;

    background-color: $box-background-color;
    color: $box-text-color;
  }

  .font-medium {
    font-size: 2rem;
  }
}
