<ion-content padding>
  <div *ngIf="data" class="spaced-large">
    <div class="spaced center"><h1 class="font-large">Data</h1></div>
    <div class="center font-small spaced"><i>Currently loaded: Slot {{data.lastLoaded + 1}}</i></div>
    <div *ngFor="let character of data.characters; let i = index" class="clear left spaced full font-medium">
      <div class="left">Slot {{i+1}} - {{!character.name ? 'Player' : character.name}}</div>
      <button class="box-small spaced right icon-margin-right" (tap)="reset(i)"> <ion-icon name="trash"></ion-icon></button>
      <button class="box-small spaced right icon-margin-right" [disabled]="data.lastLoaded === i" (tap)="load(i)"> <ion-icon name="play"></ion-icon></button>
      <div class="clear spaced-border"></div>
    </div>
    <button *ngIf="data.characters.length < 2" class="box full font-medium" (tap)="unlockSlot()"><ion-icon class="icon-margin-right" name="videocam"></ion-icon>Watch ad (+1 slot)</button>
  </div>
  <div class="center"><h1 class="font-large">Themes</h1></div>
  <ion-buttons>
    <button class="box thin spaced font-medium" [disabled]="isSelected(modes.DYNAMIC)" (tap)="setTheme(modes.DYNAMIC)"><ion-icon *ngIf="isSelected(modes.DYNAMIC)" class="icon-margin-right" name="checkmark"></ion-icon>Fully Dynamic</button>
    <button class="box thin spaced font-medium" [disabled]="isSelected(modes.DYNAMIC_DARK)" (tap)="setTheme(modes.DYNAMIC_DARK)"><ion-icon *ngIf="isSelected(modes.DYNAMIC_DARK)" class="icon-margin-right" name="checkmark"></ion-icon>Dynamic: Dark</button>
    <button class="box thin spaced font-medium" [disabled]="isSelected(modes.DYNAMIC_LIGHT)" (tap)="setTheme(modes.DYNAMIC_LIGHT)"><ion-icon *ngIf="isSelected(modes.DYNAMIC_LIGHT)" class="icon-margin-right" name="checkmark"></ion-icon>Dynamic: Light</button>
    <div class="center" *ngFor="let theme of object.values(themes)">
      <button class="box thin spaced font-medium" [disabled]="isSelected(theme)" (tap)="setTheme(modes.STATIC, theme)"><ion-icon *ngIf="isSelected(theme)" class="icon-margin-right" name="checkmark"></ion-icon>Static: {{theme}}</button>
    </div>
  </ion-buttons>
</ion-content>
