@import '../theme/variables';

// Fonts
@font-face {
  font-family: 'harsh-winter';
  //src: url('../assets/fonts/harsh-winter.otf') format("opentype");
  src: url('../assets/fonts/precise.ttf') format("truetype");
  src: url('../assets/fonts/precise.woff') format("woff");
}

@font-face {
  font-family: 'ghoul';
  //src: url('../assets/fonts/ghoul.otf') format("opentype");
  src: url('../assets/fonts/ghoul.ttf') format("truetype");
  src: url('../assets/fonts/ghoul.woff') format("woff");
}

.harsh-winter {
  font-family: 'harsh-winter', 'Helvetica Neue', sans-serif !important;
  font-size: 1.5rem !important;
}

.ghoul {
  font-family: 'ghoul', 'Helvetica Neue', sans-serif !important;
  font-size: 2rem !important;
}

// Themes
@mixin theme($backdrop, $overlay, $disabled, $accent) {
  .content, .box, .box-small, .tab-button, .tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon,
  .border-left, .border-right, .spaced-border, .indicator-left, .indicator-right {
    transition: background-color $transition ease, color $transition ease,
    border-left-color $transition ease,
    border-right-color $transition ease,
    border-top-color $transition ease,
    border-bottom-color $transition ease;
  }

  .logo g {
    fill: $accent;
  }

  .content {
    background-color: $backdrop;
  }

  .content, .box, .box-small, .tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon {
    color: $accent !important;
  }

  .box, .tab-button, .box-small {
    background-color: $overlay !important;
  }

  input {
    border: 1px solid $accent;
  }

  .tab-button, .tab-button-icon {
    color: $disabled !important;
  }

  .border-left {
    border-left-color: $accent;
  }

  .border-right {
    border-right-color: $accent;
  }

  .spaced-border {
    border-bottom-color: $accent;
  }

  .indicator-left {
    border-top-color: $overlay;
    border-left-color: $backdrop;
  }

  .indicator-right {
    border-top-color: $overlay;
    border-right-color: $backdrop;
  }
}

