.theme-lightFrost {
  @import '../theme/variables';

  .logo {
    content:url("../assets/imgs/logo.lightFrost.png");
  }

  .content {
    background-color: $lf-backdrop;
  }

  .content, .box, .box-small, .tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon {
    color: $lf-accent !important;
  }

  .box, .tab-button, .box-small {
    background-color: $lf-overlay !important;
  }

  .tab-button, .tab-button-icon {
    color: $lf-disabled !important;
  }

  .border-left {
    border-left-color: $lf-accent;
  }

  .border-right {
    border-right-color: $lf-accent;
  }

  .spaced-border {
    border-bottom-color: $lf-accent;
  }

  .indicator-left {
    border-top-color: $lf-overlay;
    border-left-color: $lf-backdrop;
  }

  .indicator-right {
    border-top-color: $lf-overlay;
    border-right-color: $lf-backdrop;
  }
}
