.theme-darkWheat {
  @import '../theme/variables';

  .logo {
    content:url("../assets/imgs/logo.darkWheat.png");
  }

  .content {
    background-color: $dw-backdrop;
  }

  .content, .box, .box-small, .tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon {
    color: $dw-accent !important;
  }

  .box, .tab-button, .box-small {
    background-color: $dw-overlay !important;
  }

  .tab-button, .tab-button-icon {
    color: $dw-disabled !important;
  }

  .border-left {
    border-left-color: $dw-accent;
  }

  .border-right {
    border-right-color: $dw-accent;
  }

  .spaced-border {
    border-bottom-color: $dw-accent;
  }

  .indicator-left {
    border-top-color: $dw-overlay;
    border-left-color: $dw-backdrop;
  }

  .indicator-right {
    border-top-color: $dw-overlay;
    border-right-color: $dw-backdrop;
  }
}
