// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #E2CF9A,
  charcoal: #161519,
  grey: #212026,
  wheatShadow: #8E8261,
  wheat: #E2CF9A,
  beige: #F5F7DC,
  purple: #0F0326,
  apple: #B5D99C,
  queen: #3E6990,
  cobalt: #84ACCE,
  valley: #094D92,
  white: #FAFAFA,
  dust: #F2F2F2,

  jungle: #1A1D21,
  charleston: #24292D,
  onyx: #363D44,
  space: #404951,
  vanilla: #DBC59B,
  dutch: #EDDAB8,
  navajo: #FFE6A3,
  almond: #FFF0C6,
  pearl: #E8DFC7,
  silk: #FFF5DB

);

$transition: 1s;

// Light Neutral
$light-neutral-backdrop: #E5E5E5;
$light-neutral-overlay: #F2F2F2;
$light-neutral-disabled: #A19DA5;
$light-neutral-accent: #4F4A41;

// Light Cold
$light-cold-backdrop: #DAE2E5;
$light-cold-overlay: #E6F2F1;
$light-cold-disabled: #9D9EA5;
$light-cold-accent: #29304F;

// Light Warm
$light-warm-backdrop: #F4EBD7;
$light-warm-overlay: #F4EEE1;
$light-warm-disabled: #A59893;
$light-warm-accent: #8C4B28;

// Light Romantic
$light-romantic-backdrop: #E5CCCC;
$light-romantic-overlay: #F2DCDC;
$light-romantic-disabled: #BAA1A1;
$light-romantic-accent: #5B2B38;

// Light Angry
$light-angry-backdrop: #E2CEAE;
$light-angry-overlay: #EAD9CE;
$light-angry-disabled: #BA978F;
$light-angry-accent: #6D1010;

// Dark Neutral
$dark-neutral-backdrop: #1A1D21;
$dark-neutral-overlay: #24292D;
$dark-neutral-disabled: #B29F7C;
$dark-neutral-accent: #E5D2B3;

// Dark Cold
$dark-cold-backdrop: #1A211A;
$dark-cold-overlay: #242D26;
$dark-cold-disabled: #7C90B2;
$dark-cold-accent: #B3DFE5;

// Dark Warm
$dark-warm-backdrop: #211E1A;
$dark-warm-overlay: #2D2A24;
$dark-warm-disabled: #B2856E;
$dark-warm-accent: #E5CA99;

// Dark Romantic
$dark-romantic-backdrop: #1D1A21;
$dark-romantic-overlay: #2C242D;
$dark-romantic-disabled: #B27C97;
$dark-romantic-accent: #E5B3D2;

// Dark Angry
$dark-angry-backdrop: #211B15;
$dark-angry-overlay: #2D241D;
$dark-angry-disabled: #B26143;
$dark-angry-accent: #E5987E;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
