// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #E2CF9A,
  charcoal: #161519,
  grey: #212026,
  wheatShadow: #8E8261,
  wheat: #E2CF9A,
  beige: #F5F7DC,
  purple: #0F0326,
  apple: #B5D99C,
  queen: #3E6990,
  cobalt: #84ACCE,
  valley: #094D92,
  white: #FAFAFA,
  dust: #F2F2F2,

  jungle: #1A1D21,
  charleston: #24292D,
  onyx: #363D44,
  space: #404951,
  vanilla: #DBC59B,
  dutch: #EDDAB8,
  navajo: #FFE6A3,
  almond: #FFF0C6,
  pearl: #E8DFC7,
  silk: #FFF5DB

);

// Dark Wheat
$dw-backdrop: color($colors, jungle);
$dw-overlay: color($colors, charleston);
$dw-disabled: color($colors, vanilla);
$dw-accent: color($colors, dutch);

// Light Wheat
$lw-backdrop: color($colors, pearl);
$lw-overlay: color($colors, silk);
$lw-disabled: color($colors, space);
$lw-accent: color($colors, onyx);

// Light Frost
$lf-backdrop: color($colors, dust);
$lf-overlay: color($colors, white);
$lf-disabled: color($colors, grey);
$lf-accent: color($colors, valley);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
