// http://ionicframework.com/docs/theming/
@import '../theme/variables';
@import '../theme/theme.dark-happy';
@import '../theme/theme.light-romantic';
@import '../theme/theme.dark-cold';
@import '../theme/theme.light-neutral';
@import '../theme/theme.dark-neutral';

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-weight: lighter !important;
}

.scroll-content{overflow-y: auto;}

// Mixins

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  float: left;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.spaced {
  margin-bottom: 1rem;
}

.spaced-large {
  margin-bottom: 3rem;
}

.full {
  width: 100%;
}

.font-small {
  font-size: 1.5rem;
}

.font-medium {
  font-size: 2rem;
}

.font-large {
  font-size: 3rem;
}

.icon-margin-left {
  margin-left: 12px;
}

.icon-margin-right {
  margin-right: 12px;
}

.font-italic {
  font-style: italic;
}

.font-small, .font-medium, .font-large {
  font-weight: lighter;
}

// Elements

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.box {
  padding: 1.5rem;
}

.box-small {
  padding: 1rem;
}

.border-left {
  border-left: 1px solid;
}

.border-right {
  border-right: 1px solid;
}

.spaced-border {
  margin: 0 auto 3rem;
  border-bottom: 1px solid;
  width: 60%;
  opacity: 50%;
}

.indicator-left {
  width: 0;
  height: 0;

  border-top: 2rem solid;
  border-left: 2rem solid;
}

.indicator-right {
  width: 0;
  height: 0;

  border-top: 2rem solid;
  border-right: 2rem solid;
}
