page-game {
  @import '../../theme/variables';

  .wrapper {
    position: relative;
    width: 100%;
    height: 90%;
    margin: 0;
  }

  .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: $background-color;
    color: $text-color;
  }

  .info {
    position: relative;
    opacity: 0.5;
    text-align: center;
    top: 2rem;

    margin-bottom: 1em;

    font-size: 2rem;
  }

  .info-small {
    position: relative;
    opacity: 0.5;
    text-align: center;

    margin-bottom: 5em;

    font-size: 1rem;
  }

  .item-narrative, .item-dialogue, .item-name, .item-choice {
    width: 100%;

    font-size: 1.5rem;

    padding: 2rem;
    margin: 1rem 0 auto;
    text-align: center;

    background-color: $box-background-color;
    color: $box-text-color;
  }

  .item-chapter {
    font-size: 4rem;
    text-align: center;
  }

  .item-dialogue {
    font-style: italic;
  }

  .item-choice {
    font-size: 2rem;
    background-color: $button-background-color;
    color: $button-text-color;
  }

  .item-name {
    background-color: $box-background-color;
    color: $box-text-color;

    border: none;
  }
}
