page-game {
  @import '../../theme/variables';

  .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: color($colors, dark);
    color: color($colors, primary);
  }

  .info {
    position: relative;
    opacity: 0.5;
    text-align: center;
    top: 60%;

    margin-bottom: 5em;

    font-size: 2rem;
  }

  .item-narrative, .item-dialogue, .item-name, .item-choice {
    width: 100%;

    font-size: 1.5rem;

    padding: 2rem;
    margin: 1rem 0 auto;
    text-align: center;

    border-color: color($colors, primary);
    background-color: color($colors, secondary);
  }

  .item-chapter {
    font-size: 4rem;
    text-align: center;
  }

  .item-dialogue {
    font-style: italic;
  }

  .item-choice {
    font-size: 2rem;
    background-color: color($colors, light);
    color: color($colors, dark);
  }

  .item-name {
    background-color: color($colors, secondary);
    color: color($colors, primary);

    border: none;
  }
}
