<ion-content padding>
  <div class="wrapper" (tap)="onTap()" (swipeUp)="showTabs()" (swipeDown)="hideTabs()">
    <div class="content center">
      <div *ngFor="let item of items" [@fadeIn]>
        <div *ngIf="item.type === storyItemTypes.CHAPTER">
          <div class="font-large clear center spaced-large">{{chapterTitle(item.content)}}</div>
          <div class="clear spaced-border"></div>
          <div class="medium clear center spaced"><i>{{chapterContent(item.content)}}</i></div>
        </div>

        <div *ngIf="item.type === storyItemTypes.CHAPTER_END">
          <div class="font-large clear center spaced-large">Chapter End</div>
          <div class="clear spaced-border"></div>
          <div class="medium clear center spaced"><i>The following short advert helps ensure this game remains totally free.<br /><br /> Thank you</i></div>
          <button class="font-medium box clear center" (tap)="showAd()">CONTINUE</button>
        </div>

        <div *ngIf="item.type === storyItemTypes.NARRATIVE">
          <div class="font-small box clear center spaced border-left border-right" [innerHtml]="parse(item.content)"></div>
        </div>

        <div class="clear left full spaced" *ngIf="item.type === storyItemTypes.DIALOGUE_NPC">
          <div class="indicator-left left"></div>
          <div class="font-small font-italic box left wide border-right" [innerHtml]="parse(item.content)"></div>
        </div>

        <div class="clear right full spaced" *ngIf="item.type === storyItemTypes.DIALOGUE_PC">
          <div class="indicator-right right"></div>
          <div class="font-small font-italic box right wide border-left" [innerHtml]="parse(item.content)"></div>
        </div>

        <ion-buttons *ngIf="item.type === storyItemTypes.CHOICE">
          <div class="font-medium info clear center spaced-large" [innerHtml]="choice.text"></div>
          <div class="clear spaced-border"></div>
          <div *ngFor="let option of choice.options">
            <button class="font-medium box clear center spaced" *ngIf="!option.name.startsWith('TONIC')"  (tap)="makeChoice(option.name)">
              {{option.label}}
            </button>
            <button class="font-medium box clear center spaced" *ngIf="option.name.startsWith('TONIC')" [disabled]="character.tonic == 0" (tap)="makeChoice(option.name)">
              <ion-icon *ngIf="option.name.startsWith('TONIC')" name="flask"></ion-icon>
              {{option.label}}
            </button>
          </div>
        </ion-buttons>

        <div *ngIf="item.type === storyItemTypes.NAME">
          <label class="font-large spaced-large">ENTER NAME</label>
          <div class="clear spaced"></div>
          <div class="clear spaced-border"></div>
          <form (submit)="acceptName()">
            <input class="font-medium box clear center spaced-large" type="text" name="name" maxlength="16" [(ngModel)]="character.name" (focus)="hideTabs()" (blur)="showTabs()" onK>
            <div class="clear spaced-border"></div>
            <button class="font-medium box clear center" type="submit">ACCEPT</button>
          </form>
        </div>

        <div class="font-large clear center spaced" *ngIf="item.type === storyItemTypes.END">
          {{item.content}}
        </div>

        <div *ngIf="item.type === storyItemTypes.TUTORIAL" class="font-medium clear center spaced" [innerHtml]="item.content"></div>
      </div>
    </div>
  </div>
</ion-content>
