<ion-content padding on-tap="onTap()">
  <div class="content" (swipe)="swipe($event)">
    <div *ngFor="let item of items" [@fadeIn]>
      <div class="item-chapter" *ngIf="item.type === storyItemTypes.CHAPTER">
        Chapter {{item.content}}
      </div>
      <div class="item-narrative" *ngIf="item.type === storyItemTypes.NARRATIVE">
        {{parse(item.content)}}
      </div>
      <div class="item-dialogue" *ngIf="item.type === storyItemTypes.DIALOGUE">
        "{{parse(item.content)}}"
      </div>
      <ion-buttons *ngIf="item.type === storyItemTypes.CHOICE">
        <div class="info">CHOOSE YOUR PATH</div>
        <div class="info-small">Intuition: {{character.intuition}}</div>
        <button *ngIf="character.intuition > 0" class="item-choice" (click)="intuit(choice)">Intuition</button>
        <button class="item-choice" *ngFor="let option of choice.options" (click)="makeChoice(option.name)">
          {{option.label}}
        </button>
      </ion-buttons>
      <div *ngIf="item.type === storyItemTypes.NAME">
        <input class="item-name" type="text" name="name" [(ngModel)]="character.name">
        <button class="item-choice" (click)="proceed()">Accept</button>
      </div>
      <div class="item-chapter" *ngIf="item.type === storyItemTypes.END">
        {{item.content}}
      </div>
    </div>
    <div class="info" *ngIf="info" [@fadeIn]>
      TAP ANYWHERE TO CONTINUE
    </div>
  </div>
</ion-content>
